#btn_test {
    display: block;
    margin: auto;
}
* {
    text-align: center;
    align-content: center;
}
.box {
    display: flex;
    margin: auto;
    line-height: 100px;
    background-color: yellow;
    padding: 20px;
    width: 300px;
    height: 100px;
}
#app {
    text-align: center;
}
