*{
    text-align: center;
}
.preview {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  1fr 
    			            1fr 
       			            1fr;
    background-color: #0044ff;
    grid-gap: 10px;
}
.a{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}
.preview > div {
    background-color: rgba(0,59,15,0.8);
}
.d {
    grid-area: 3/1/4/4;
}