body{
    text-align: center;
}
table,tr,td{
    border: 1.5px black solid;
    font-size: 15px;
    margin: auto;
}
caption{
    color: rgb(236, 16, 16);
    background-color: cornflowerblue;
    font-size: 20px;
}
nav{
    font-size: 25px;
    font-weight: 200px;
    border: dashed 2px;
    margin: auto;
}